<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Vimoire</string>
    <key>CFBundleDisplayName</key>
    <string>Vimoire</string>
    <key>CFBundleIdentifier</key>
    <string>dev.vimoire.app</string>
    <key>CFBundleVersion</key>
    <string>0.1.0</string>
    <key>CFBundleExecutable</key>
    <string>vimoire</string>
    <key>CFBundleIconFile</key>
    <string>vimoire</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Vimoire Manuscript</string>
            <key>CFBundleTypeIconFile</key>
            <string>vimoire</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>tome</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSTypeIsPackage</key>
            <true/>
            <key>LSItemContentTypes</key>
            <array>
                <string>dev.vimoire.manuscript</string>
            </array>
        </dict>
    </array>

    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>dev.vimoire.manuscript</string>
            <key>UTTypeDescription</key>
            <string>Vimoire Manuscript</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>com.apple.package</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>tome</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
